<!-- Created by Instant Zero (http://www.instant-zero.com) -->
<div class="buy">
	<a href="<{$category.categories_url}>" title="<{$category.categories_href_title}>"><img src="<{$category.categories_fullimgurl}>" alt="<{$category.categories_title}>" /></a><br />
	<b><{$category.categories_title}></b>
	<br />
	<{$category.categories_description}>
	<br style="line-height:15px;">
	<a href="<{$category.categories_url}>" title="<{$smarty.const._MYSERVICES_SEE_PRODUCTS}>"><img src="<{$smarty.const.MYSERVICES_IMAGES_URL}>services.jpg" alt="<{$smarty.const._MYSERVICES_SEE_PRODUCTS}>" border="0"></a><br />
	<br style="line-height:30px;">
</div>